:root {
  --orange: #FF6E30;
  --white: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}


/* Opmaak body */
body {
  background-image: url("../images/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}


/* Opmaak navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  flex-direction: column;
  backdrop-filter: blur(2px);
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 75px;
  margin-left: -8px;
  margin-top: -8px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 75px;
}

.navbar ul li a {
  color: var(--white);
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--orange);
}

.navbar ul li a img {
  width: 60px;
  height: 60px;
}


/* Opmaak title */
.title {
  color: var(--white);
  margin-left: 15%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.title h1 {
  position: relative;
  font-size: 4rem;
  margin-top: 17%;
}

.title span {
  color: var(--orange);
}

.title p {
  font-size: 1.4rem;
  margin-left: 60px;
  margin-top: -2%;
  text-decoration: underline;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Opmaak footer */
footer {
  width: 100%;
}
.quote {
  display: flex;
  justify-content: right;
  align-items: center;
  filter: blur(1px);
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 300;
  font-style: italic;
  position: absolute;
  bottom: 15px;
  right: 35px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 5px 2px 5px var(--orange);
}
